/*GENERAL*/

/*Font*/

@font-face {
    font-family: 'JosefinSans-Light';
    src: url('../font/JosefinSans-Light.ttf') format('truetype');
}

.title{
    font-family: 'JosefinSans-Light';
    font-size: 140%;
    padding-bottom: 15px;
}

/*Links*/

a {
    color: #d76d8d;
}

/*Title*/

.alct {
    font-family: 'JosefinSans-Light';
    font-size: 150%;
    text-align: center;
    background-color: white;
    letter-spacing: 4px;
    left: 0;
    right: 0;
}

/*Menu*/

.menu {
    font-family: 'JosefinSans-Light';
    left: 0;
    right: 0;
    background-color: white;
}

.tabs li.is-active a {
    border-bottom-color: #d76d8d;
    color: #d76d8d;
}

.menu li{
    padding: 0px 8px;
}

/*Footer*/

footer {
    font-family: 'JosefinSans-Light';
    background-color: white;
    position: fixed;
    bottom: 0;
    left:0;
    right: 0;
    font-size: 100%;
    padding-top: 4px;
    text-align: center;
}

/*Hidden*/

.hidden {
    display: none;
}

/*INDEX*/

.menu_index {
    top: 148px;
    font-family: 'JosefinSans-Light';
    padding-top: 48px;
    padding: 0em;
    left: 0;
    right: 0;
    background-color: white;
}

.menu_index li {
    padding: 0px 8px;
}

/*CONCEPT*/

.picto {
    width: 58px;
    margin: 4%;
    padding-bottom:10px
}

.text {
    text-align: center;
}

li { 
    display: list-item;
    margin-left: 1em;
    list-style: disc;
    text-align: center;
}

#logoblack {
    height: 360px;
}

#imgconcept {
    border-radius: 1%;
}

.concept {
    opacity: 0.7;
    padding-bottom: 40px;
}

.color1 {
    background-color: #dc9ea7;
}

.color2 {
    background-color: #daa899;
}

.color3 {
    background-color: #d8ae8d;
}

.color4 {
    background-color: #daa79b;
}

/*DESTINATIONS*/

.imgdestination:hover {
    opacity: 0.5;
}

.destination {
    padding-bottom: 30px;
}

.titledest {
    position: absolute;
    top: 10px;
    left: 0px;
    color: white;
    background-color: black;
    opacity: 0.4;
    text-align: left;
    padding: 2px 4px;
    height: 24px;
}

.boite {
    position: relative;
}

.radius {
    border-radius: 1.5%;
}

/*ACTUALITÉS*/

.fb {
    width: 500px;
    margin: 0px auto;
}

/*CONTACT*/

#formulaire {
    background-color: white;
    border-radius: 5px;
    padding: 18px;
    margin: 30px auto;
    width: 310px;
}

.bgcontact {
    position: fixed;
    top:118px;
    left: 0;
    right: 0;
    width: 1400px;
    height: 600px;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    background: url(../img/contact/contact.jpeg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

/*EUROPE*/

.bgeurope {
    position: fixed;
    top:118px;
    left: 0;
    right: 0;
    width: 1400px;
    height: 600px;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    background: url(../img/destinations/grand/europe.jpeg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

/*AFRIQUE*/

.bgafrique  {
    position: fixed;
    top:118px;
    left: 0;
    right: 0;
    width: 1400px;
    height: 600px;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    background: url(../img/destinations/grand/afrique.jpg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

/*AMERIQUE DU NORD*/

.bgameriquenord  {
    position: fixed;
    top:118px;
    left: 0;
    right: 0;
    width: 1400px;
    height: 600px;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    background: url(../img/destinations/grand/ameriquenord.jpeg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

/*AMERIQUE DU SUD*/

.bgameriquesud  {
    position: fixed;
    top:118px;
    left: 0;
    right: 0;
    width: 1400px;
    height: 600px;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    background: url(../img/destinations/grand/ameriquesud.jpg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

/*ASIE*/

.bgasie  {
    position: fixed;
    top:118px;
    left: 0;
    right: 0;
    width: 1400px;
    height: 600px;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    background: url(../img/destinations/grand/asie.jpg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

/*OCEANIE*/

.bgoceanie  {
    position: fixed;
    top:118px;
    left: 0;
    right: 0;
    width: 1400px;
    height: 600px;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    background: url(../img/destinations/grand/oceanie.jpg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}
.continent {
    font-family: 'JosefinSans-Light';
    font-size: 280%;
    font-weight: 900;
    position: absolute;
    left: 2%;
    top: 2%;
}
.patience {
    position: absolute;
    left: 2%;
    top: 12%;
}

.continentwhite {
    font-family: 'JosefinSans-Light';
    color: white;
    font-size: 280%;
    font-weight: 900;
    position: absolute;
    left: 2%;
    top: 2%;
}
.patiencewhite{
    color: white;
    position: absolute;
    left: 2%;
    top: 12%;
}

/*EVENEMENTIEL*/

.evenement {
    padding-bottom:40px;
    opacity: 0.7;
}

.imgevent {
    border-radius:1%;
}

.conteneur {
    display: flex;
}

/*GARANTIES*/

.garanties {
    padding-bottom:40px;
    opacity:0.7;
}

.garanties li {
    text-align: left;
}

.color5 {
    background-color: rgb(170, 214, 216);
}

.color6 {
    background-color: rgb(177, 219, 207);
}

.color7 {
    background-color: #89B9D1; 
}

.color8 {
    background-color: rgb(177, 219, 207);
}

