/*GENERAL*/

/*Font*/

@font-face {
    font-family: 'JosefinSans-Light';
    src: url('../font/JosefinSans-Light.ttf') format('truetype');
}

/*Links*/

a {
    color: #d76d8d;
}

/*Title*/

.alct {
    font-family: 'JosefinSans-Light';
    font-size: 150%;
    text-align: center;
    background-color: white;
    letter-spacing: 4px;
    padding: 14px;
    position: fixed;
    left: 0;
    right: 0;
}

/*Header*/

.header {
    position: fixed;
}

/*Menu*/

.menu {
    font-family: 'JosefinSans-Light';
    position: fixed;
    top: 54px;
    left: 0;
    right: 0;
    background-color: white;
}

.tabs li.is-active a {
    border-bottom-color: #d76d8d;
    color: #d76d8d;
}

.menu li{
    padding: 0px 8px;
}

/*Footer*/

footer {
    font-family: 'JosefinSans-Light';
    background-color: white;
    position: fixed;
    bottom: 0;
    left:0;
    right: 0;
    font-size: 100%;
    padding-top: 4px;
    text-align: center;
}

/*Hidden*/

.hidden {
    display: none;
}

/*INDEX*/

.menu_index {
    top: 148px;
    font-family: 'JosefinSans-Light';
    padding-top: 48px;
    padding: 0em;
    left: 0;
    right: 0;
    background-color: white;
}

.menu_index li {
    padding: 0px 8px;
}

