/*GENERAL*/

/*font*/

@font-face {
  font-family: 'JosefinSans-Light';
  src: url('../fonts/JosefinSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'JosefinSans-Regular';
  src: url('../fonts/JosefinSans-Regular.ttf') format('truetype');
}

body {
  font-family: 'JosefinSans-Light';
  font-size: 122%;
}

.title {
  font-family: 'JosefinSans-Light';
  font-size: 100%;
  padding-bottom: 0px;
}

.regular {
  font-family: 'JosefinSans-Regular';
}

.formfont {
  font-size: 80%;
}

/*Links*/

li.is-active a {
  font-family: 'JosefinSans-Regular';
}

a {
  color: grey;
  font-weight: bold;
}

/*General*/

.logo {
  width: 190px;
  height: auto;
}

/*Title*/

.alct {
  font-family: 'JosefinSans-Light';
  font-size: 150%;
  text-align: center;
  background-color: white;
  letter-spacing: 4px;
  left: 0;
  right: 0;
}

/*Menu*/

.menu {
  font-family: 'JosefinSans-Light';
  left: 0;
  right: 0;
  background-color: white;
}

.tabs li.is-active a {
  border-bottom-color: #d76d8d;
  color: grey;
}

.menu li {
  padding: 0px 8px;
}

/*Footer*/

footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 76%;
  padding-top: 4px;
  padding-bottom: 2px;
  text-align: center;
  /
}

footer a {
  color: grey;
}

/*Hidden*/

.hidden {
  display: none;
}

/*INDEX*/

.menu_index {
  top: 148px;
  font-family: 'JosefinSans-Light';
  padding-top: 48px;
  padding: 0em;
  left: 0;
  right: 0;
  background-color: white;
}

.menu_index li {
  padding: 0px 8px;
}

/*CONCEPT*/

.picto {
  width: 58px;
  margin: 6%;
  padding-top: 50px;
}

.text {
  text-align: center;
}

li {
  display: list-item;
  margin-left: 1em;
  text-align: center;
  padding-top: 8px;
}

.concept {
  opacity: 0.7;
  padding-bottom: 30px;
}

.baseline {
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.noborder {
  padding: 0;
}

.who {
  padding-left: 1.25rem;
}

.color1 {
  background-color: #f1f7f8;
}

.color2 {
  background-color: #dae9ee;
}

.color3 {
  background-color: #e7f1e6;
}

.color4 {
  background-color: #e4efe6;
}

/*DESTINATIONS*/

.destination {
  padding-bottom: 30px;
  margin: 10px 80px;
}

.imgdestination:hover {
  opacity: 0.5;
}

/*DESTINATIONS 2*/

.lienpays {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 3;
}

.lienpays p {
  /*font-weight: bolder;*/
  font-size: 130%;
  text-align: center;
  transition: all 1s;
}

.boite:hover .lienpays {
  opacity: 1;
  transition: all 1s;
}

.boite:hover .bgimg {
  opacity: 0.2;
  transition: all 1s;
}

.titledest {
  position: absolute;
  top: 30px;
  left: 13px;
  color: white;
  background-color: black;
  opacity: 0.6;
  text-align: left;
  padding: 3px 4px;
  height: 24px;
}

.boite {
  position: relative;
}

.radius {
  border-radius: 5px;
}

/*CONTACT*/

.formulaire {
  background-color: white;
  border-radius: 5px;
  padding: 28px;
  margin: 10px auto;
  /*width: 50%;*/
  position: relative;
}

.bgcontact {
  left: 0;
  right: 0;
  padding: 10px;
  margin-bottom: 30px;
  width: 1900px;
  height: auto;
  border-radius: 25px;
  margin-right: auto;
  margin-left: auto;
  background: url(../img/contact/contact.jpeg) no-repeat center fixed;
  -webkit-background-size: cover;
  /* pour anciens Chrome et Safari */
  background-size: cover;
  /* version standardisée */
}

/*EUROPE*/

.bgeurope {
  position: fixed;
  top: 198px;
  left: 0;
  right: 0;
  width: 1400px;
  height: 600px;
  border-radius: 25px;
  margin-right: auto;
  margin-left: auto;
  background: url(../img/destinations/grand/europe.jpeg) no-repeat center fixed;
  -webkit-background-size: cover;
  /* pour anciens Chrome et Safari */
  background-size: cover;
  /* version standardisée */
}

/*AFRIQUE*/

.bgafrique {
  position: fixed;
  top: 198px;
  left: 0;
  right: 0;
  width: 1400px;
  height: 600px;
  border-radius: 25px;
  margin-right: auto;
  margin-left: auto;
  background: url(../img/destinations/grand/afrique.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  /* pour anciens Chrome et Safari */
  background-size: cover;
  /* version standardisée */
}

/*AMERIQUE DU NORD*/

.bgameriquenord {
  position: fixed;
  top: 198px;
  left: 0;
  right: 0;
  width: 1400px;
  height: 600px;
  border-radius: 25px;
  margin-right: auto;
  margin-left: auto;
  background: url(../img/destinations/grand/ameriquenord.jpeg) no-repeat center fixed;
  -webkit-background-size: cover;
  /* pour anciens Chrome et Safari */
  background-size: cover;
  /* version standardisée */
}

/*AMERIQUE DU SUD*/

.bgameriquesud {
  position: fixed;
  top: 198px;
  left: 0;
  right: 0;
  width: 1400px;
  height: 600px;
  border-radius: 25px;
  margin-right: auto;
  margin-left: auto;
  background: url(../img/destinations/grand/ameriquesud.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  /* pour anciens Chrome et Safari */
  background-size: cover;
  /* version standardisée */
}

/*ASIE*/

.bgasie {
  left: 0;
  right: 0;
  padding: 10px;
  margin-bottom: 30px;
  width: 1900px;
  height: 710px;
  border-radius: 25px;
  margin-right: auto;
  margin-left: auto;
  background: url(../img/destinations/grand/asie.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  /* pour anciens Chrome et Safari */
  background-size: cover;
  /* version standardisée */
}

/*OCEANIE*/

.bgoceanie {
  position: fixed;
  top: 198px;
  left: 0;
  right: 0;
  width: 1400px;
  height: 600px;
  border-radius: 25px;
  margin-right: auto;
  margin-left: auto;
  background: url(../img/destinations/grand/oceanie.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  /* pour anciens Chrome et Safari */
  background-size: cover;
  /* version standardisée */
}

.continent {
  font-family: 'JosefinSans-Light';
  font-size: 280%;
  font-weight: 900;
  position: absolute;
  left: 2%;
  top: 2%;
}

.patience {
  position: absolute;
  left: 2%;
  top: 12%;
}

.continentwhite {
  font-family: 'JosefinSans-Light';
  color: white;
  font-size: 280%;
  font-weight: 900;
  position: absolute;
  left: 2%;
  top: 2%;
}

.patiencewhite {
  color: white;
  position: absolute;
  left: 2%;
  top: 12%;
}

.sud {
  margin-top: 10%;
}

/*EVENEMENTIEL*/

.evenement {
  padding-bottom: 40px;
  opacity: 0.7;
}

.imgevent {
  border-radius: 1%;
}

.conteneur {
  display: flex;
}

/*GARANTIES*/

.garanties {
  padding-bottom: 40px;
  text-align: justify;
  opacity: 0.7;
}

.garanties li {
  text-align: left;
}

/*PRODUITS*/

.pink {
  color: pink;
}

.vignette {
  margin: 10px 70px;
}

.color-title {
  color: rgb(177, 219, 207);
}

.circle {
  border: 1px;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  margin-left: 100px;
  margin-top: 50px;
}

.circle p {
  position: relative;
  top: 35px;
  font-size: 110%;
}

.circle2 {
  border: 1px;
  background-color: rgba(200, 227, 205, .7);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: -65px 0px 0px 220px;
}

.circle2 p {
  position: relative;
  font-size: 80%;
  top: 4px;
}

.circle3 {
  border: 1px;
  border-radius: 50%;
  height: 210px;
  width: 210px;
  margin-top: -30px;
  margin-left: 23px;
}

.circle3 p {
  position: relative;
  top: 65px;
  padding: 12px;
  margin-top: 70px;
  font-size: 80%;
}

.circle4 {
  border: 1px;
  border-radius: 50%;
  height: 170px;
  width: 170px;
  background-color: rgba(200, 227, 205, .7);
  margin: -190px 0px 0px 160px;
  font-size: 110%;
}

.circle4 p {
  position: relative;
  top: 34px;
}

.circle5 {
  border: 1px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: rgba(235, 244, 235, .7);
  margin: -120px 0px 0px 190px;
}

.circle5 p {
  position: relative;
  top: 19px;
}

.cadre-produit {
  text-align: left;
  margin: 60px 12px;
  padding: 20px;
}

.product {
  padding: 60px 20px;
}

.prix {
  font-size: 80%;
  padding: 20px;
  margin: 10px;
}

#note {
  font-size: 80%;
  margin-bottom: 30px;
}

.box1 {
  border-width: 0.8px;
  border-style: solid;
  border-radius: 5px;
  border-color: grey;
}

/*Center*/

.center {
  margin-left: auto;
  margin-right: auto;
}
